PORT=3000
TEMPLATE_FILENAME=FOR 33 RH - Solicitação de Cadastro e Admissão Rev 05.xlsx

RESEND_API_KEY=COLE_SUA_CHAVE_DA_RESEND_AQUI
RESEND_FROM=onboarding@resend.dev
EMAIL_TO=douglasbritto416@gmail.com
EMAIL_CONFIRMATION_ENABLED=true
